body {
  font-family: "tablet-gothic", sans-serif;
  text-rendering: optimizeLegibility;
  color: #4a4a4a;
}
svg {
  width: 100%;
  height: 100%;
}
#control {
  top: 0;
  left: 0;
  position: absolute;
}
circle {
  fill: #f4f4f4;
  fill-opacity: 1;
  stroke: #dddbdb;
  stroke-width: 1px;
}
div.description {
  font-size: 12px;
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
}
p.description {
  width: 250px;
  display: inline-block;
  line-height: 1.2em;
}
.label-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.label {
  color: #868686;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  font-size: 10px;
}
.label.power {
  font-size: 11px;
}
.label p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  line-height: 1.1em;
}
.node {
  transition: opacity 0.5s ease;
}
.label-link {
  stroke-width: 1px;
  stroke: #dadada;
}

