circle-fill = #f4f4f4
circle-stroke = #dddbdb
blue-active-highlight = #1D77DF

body
  font-family "tablet-gothic", sans-serif
  text-rendering optimizeLegibility
  color #4A4A4A
  user-select none
  -webkit-user-select none

svg
  width 100%
  height 100%

#control-debug
  position absolute
  top 0
  left 0

circle
  fill circle-fill
  fill-opacity 1
  stroke circle-stroke
  stroke-width 1px

div.description
  font-size 12px
  position absolute
  margin 0
  text-align center
  width 100%

p.description
  width 250px
  display inline-block
  line-height 1.2em

.label-container
  pointer-events none
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.label
  transition opacity .5s ease
  color #868686
  position absolute
  top 0
  left 0
  display table
  font-size 10px

  &.power
    font-size 11px

  &.hidden
    opacity 0

.label p
  display table-cell
  text-align center
  vertical-align middle
  margin 0
  line-height 1.1em

.label-link
  stroke-width 1px
  stroke #dadada

.node
  transition opacity 0.5s ease

.pack.node
  circle
    transition fill 0.5s ease

  &.no-fill circle
    fill rgba(0,0,0,0)

body.highlighted
  .node
    opacity 0.4

    &.active
      opacity 1
      stroke blue-active-highlight

      circle
        stroke blue-active-highlight

  line.active-link
    stroke blue-active-highlight

  .label:not(.hidden)
    opacity 0.4

    &.active
      opacity 1

.annotation-container
  position absolute
  top 0
  left 0
  font-size 12px

  .scenario
    position absolute
    text-align center

  .layout-title
    font-weight bold

  .instruction
    font-style italic

  p
    position absolute
    text-align center
    margin 0

  .caption
    .group
      color blue-active-highlight
    .power
      font-weight bold

.control
  position absolute
  top 0
  left 0
  font-size 11px
  text-align center

  & > *
    display inline-block

  a
    color blue-active-highlight
    text-decoration none

  .disabled a
    color #C5C5C5

  .prev
    margin-right 10px
    
    &:before
      display inline-block
      position relative
      top 2px
      width 16px
      height 16px
      content ""
      background url(arrow-prev.png)

  .next
    margin-left 10px
    &:after
      display inline-block
      position relative
      top 4px
      width 16px
      height 16px
      content ""
      background url(arrow-next.png)

  ul
    margin 0
    padding 0
    list-style none

    li
      position relative
      top -1px
      display inline-block
      margin 0 5px
      border-radius 10px
      height 4px
      width 4px
      background #666666
      &.active
        top 3px
        width 10px
        height 10px
        background #F3F3F3
        border 1px solid #1D77DF

.label-link, .pack.no-fill, .annotation-container
  pointer-events none
